.container {
    position: absolute;
    bottom: 0;
    right: 50%;
    z-index: 999999999;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px 10px 0 0;
    display: flex;
    height: 10%;
    width: auto;
    gap: 2rem;
    transform: translate(50%, 0);
    padding: 0.8rem 1rem;
}
.container > div {
    position: relative;
}
.container > div > img {
    height: 100%;
    -webkit-box-reflect: below 2px -webkit-gradient(linear, left top, left
                bottom, from(transparent), color-stop(0.7, transparent), to(rgba(255, 255, 255, 0.5)));
    -webkit-transition: all 0.3s;
    -webkit-transform-origin: 40% 70%;
    aspect-ratio: 1/1;
}
.container > div:hover > img {
    -webkit-transform: scale(2);
    margin: 0 2em;
}

.container > div > span {
    display: none;
    position: absolute;
    bottom: 140%;
    left: 0;
    width: 100%;
    background-color: #000;
    z-index: 999999999;
    border-radius: 0.4rem;
    padding: 0.5rem;
}

.container > div:hover > span {
    text-align: center;
    display: block;
    color: #fff;
}
