.container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 1rem;
  width: fit-content;
  padding: 0rem 0.5rem;
  cursor: pointer;
}
.container > img {
  height: 100%;
  margin: 0 0.5rem;
}

.container:hover {
  background-color: rgba(156, 156, 156, 0.3);
}

.menu {
  position: absolute;
  right: 2rem;
  top: 2.2rem;
  width: 20vh;
  background-color: aliceblue;
  border-radius: 4px;
  padding: 0.2rem;
  color: black;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 200;
}
.menuItem {
  padding: 0.4rem 0.4rem;
  border-radius: 4px;
  margin: 0.3rem 0.2rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.menuItem:hover {
  background-color: rgba(156, 156, 156, 0.5);
}
.brightnessSlider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: #acc4e4;
  outline: none;
  cursor: pointer;
}

.brightnessSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #000;
  cursor: pointer;
}

.brightnessSlider::-moz-range-thumb {
  width: 14px;
  height: 14px;
  border: none;
  border-radius: 50%;
  background: #000;
  cursor: pointer;
}

.brightnessSlider::-moz-range-progress {
  background: #000;
  height: 4px;
  border-radius: 2px;
}

.separator {
  height: 1px;
  width: 85%;
  background-color: rgba(156, 156, 156, 0.5);
  margin: 0 auto;
}

@media screen and (max-width: 600px) {
  .container {
    padding: 0;
  }

  .container > img {
    height: 0.95rem;
    margin: 0;
  }

  .menu {
    right: 0.5rem;
    top: 2.4rem;
    width: 45vw;
  }
}
