.container {
    width: 100%;
    background-color: #1b1b1b;
    height: 2rem;
    border-radius: 0.2rem 0.22rem 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    padding: 0 1rem;
    align-items: center;
    /* position: relative; */
    font-family: -apple-system, BlinkMacSystemFont, "SF Pro Display",
        "SF Pro Text", "Helvetica Neue", Helvetica, Arial, sans-serif;
    user-select: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.logoContainer {
    height: 100%;
    display: flex;
    align-items: center;
}

.appleIcon {
    font-size: 1rem;
}

@media screen and (max-width: 600px) {
    .container {
        padding: 0 0.75rem;
        height: 1.75rem;
    }

    .appleIcon {
        font-size: 0.9rem;
    }
}
