.containerTitle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem 0;
    gap: 1rem;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    padding: 3rem 15%;
    overflow-x: hidden;
}
.title {
    font-weight: bold;
    font-size: 2.5rem;
    color: #ffffff;
    width: auto;
}
.greyLine {
    /* width: 60%; */
    flex: 1;
    background: rgba(156, 156, 156, 0.61);
    height: 1px;
}
.TabContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px rgba(217, 217, 217, 0.25) solid;
}

.container::-webkit-scrollbar {
    width: 0.5rem;
}
.container::-webkit-scrollbar-track {
    background: rgba(72, 209, 253, 0.11);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
.container::-webkit-scrollbar-thumb {
    background-color: rgba(72, 209, 253, 0.3);
    outline: 1px solid slategrey;
    border-radius: 1rem;
}

@media screen and (max-width: 600px) {
    .container {
        padding: 1rem 5%;
    }
}
