@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body{
  background-color: #0D7377;
  overflow-x: hidden;
  
  background-image: url("./components/assets/background.webp");
  background-attachment: fixed;
}
@media only screen and (max-width:900px)
{
  .main-container{
    position: absolute;
    width: 100vw;
    height:100vh;
    display: flex;
    flex-direction: column;
  }
  

  .left-bar{
    width:100vw;
    height:100vh;
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
    color:#edf2f4;
    display: flex;
    flex-direction: column;
    padding-left:4%;
    padding-right:4%;
    text-align: center;
    position:sticky;
  }
  .right-bar{
    width:100vw;
    height:100vh;
  } 
  .arya-image{
    height:20vh;
    margin-top:15vh;
    position: relative;
    margin-left: auto;
    margin-right: auto;
  }
  .Name, .github-handle{
    font-size:2.8vh;
    
  }
  .Name{
    margin-top:5vh;
    
  }
  a{
    text-decoration: none;
    color: #edf2f4;
  }
  .role{
    font-size: 2.5vh;
    margin-top:10vh;
    margin-bottom:10%;
  }
  .socials{
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 2.5vh;
    
  }
  .social-icon{
    width:10%;
    margin-top:12%;
  }
  ::-webkit-scrollbar {
    display: none;
  }
}
@media only screen and (min-width: 900px){
  .main-container{
    position: absolute;
    width: 100vw;
    height:100vh;
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
  }

  .left-bar{
    width:20vw;
    height:100vh;
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
    color:#edf2f4;
    display: flex;
    flex-direction: column;
    padding-left:4%;
    padding-right:4%;
    
    position:sticky;
  }
  .right-bar{
    width:80vw;

    color:#FFFFFF;
    overflow-y:scroll;
    padding-top:4%;
    padding-bottom:4%;
  } 
  .rightbar-text{
    font-family: 'Lobster', cursive;
    font-size:5vw;
    text-align: center;
  }
  .rightbar-bottom{
    font-family: 'Lobster', cursive;
    font-size:3vw;
    text-align: center;
  }
  .arya-image{
    height:20vh;
    margin-top:15vh;
    position: relative;
    margin-left: auto;
    margin-right: auto;
  }
  .Name, .github-handle{
    font-size:2.8vh;
  }
  .Name{
    margin-top:15%;
  }
  a{
    text-decoration: none;
    color: #edf2f4;
  }
  .role{
    font-size: 2.5vh;
    margin-top:10%;
    margin-bottom:10%;
  }
  .socials{
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 2.5vh;
    
  }
  .social-icon{
    width:10%;
    margin-top:12%;
  }
  .tile{
    width:25vw;
    height:12vh;
    background-color:#1B1B1B;
    padding:1vw;
    border-radius:1vw;
    margin-top:1.5vw;
    margin-bottom:1.5vw;
    

  }
  .content{
    width:100%;
    margin-bottom: 5%;
  }
  .odd{
    margin-left:10vw;
  }
  .even{
    margin-left:40vw;
  }
  *::-webkit-scrollbar,
  *::-webkit-scrollbar-thumb {
    width: 26px;
    border-radius: 13px;
    background-clip: padding-box;
    border: 10px solid transparent;
  }

  *::-webkit-scrollbar-thumb {        
    box-shadow: inset 0 0 0 10px;
  }
  .title{
    font-size:1.9vw;
    font-family: 'Lobster', cursive;
  }
  .text{
    font-size:auto;
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
    margin:1vh;
  }
}

