@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped&display=swap');

body{
  background-color: #0D7377;
  overflow-x: hidden;
}
@media only screen and (max-width:800px)
{
  .main-container{
    position: absolute;
    width: 100%;
    height:100%;
    
    
    background-image: url("./components/assets/background.webp");
    display: flex;
    flex-direction: row;
    padding-left: 4%;
    
  }
}
@media only screen and (min-width: 800px){
  .main-container{
    position: absolute;
    width: 100%;
    height:100%;
    
    
    background-image: url("./components/assets/background.webp");
    display: flex;
    flex-direction: row;
    padding-left: 4%;
    
  }

  .left-bar{
    width:25%;
    height:100%;
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
    color:#edf2f4;
    display: flex;
    flex-direction: column;
  }
  .right-bar{
    width:70%;
    height:100%;
  } 
  .arya-image{
    width:20vh;
    height:20vh;
  }
  .Name, .github-handle{
    font-size:1.2vw;
  }
  a{
    text-decoration: none;
    color: #edf2f4;
  }
  .role{
    font-size: 1.5vw;
  }
  .socials{
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
